body {
  background-color: #f1f1f1;
}

.calculator {
  width: 300px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.input {
  font-size: 2em;
}

.display {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-color: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

button {
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #ccc;
}

button:active {
  transform: scale(0.95);
}

.operator {
  background-color: #fe952a;
  color: #fff;
}
